<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GetAllEventsUrl" value="https://map.crossfit.com/getAllEvents.php" />
    <add key="GetAllAffiliatesUrl" value="https://map.crossfit.com/getAllAffiliates.php" />
    <add key="GetAffiliateInfoUrl" value="https://map.crossfit.com/getAffiliateInfo?aid="/>
    <add key="UpdateDatabaseUrl" value="http://url-to-call-for-update.com/callMe" />
    <add key="Host" value="a-server-with-ftp-and-my-sql-database.com" />
    <add key="WorkingDirectory" value="/var/directory-to-upload-file" />
    <add key="ZipFile" value="MySqlDailyUpdates.zip" />
    <add key="MySqlDailyUpdateFileName" value="MySqlDailyUpdates.sql" />
    <add key="FtpUserName" value="ftpUser" />
    <add key="FtpUserPass" value="ftpPassword" />
    <add key="WindowsEventSourceName" value="CrossFit Scraper" />
    <add key="WindowsEventId" value="61675" />
    <add key="NumberOfAsyncWorkers" value="10" />
  </appSettings>
</configuration>